
* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}


@font-face {
    font-family: 'Goethe FF Clan';
    src: url('assets/GoetheFFClan.eot');
    src: url('assets/GoetheFFClan.eot?#iefix') format('embedded-opentype'),
        url('assets/GoetheFFClan.woff2') format('woff2'),
        url('assets/GoetheFFClan.woff') format('woff'),
        url('assets/GoetheFFClan.ttf') format('truetype'),
        url('assets/GoetheFFClan.svg#GoetheFFClan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goethe FF Clan';
    src: url('assets/GoetheFFClan-Bold.eot');
    src: url('assets/GoetheFFClan-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/GoetheFFClan-Bold.woff2') format('woff2'),
        url('assets/GoetheFFClan-Bold.woff') format('woff'),
        url('assets/GoetheFFClan-Bold.ttf') format('truetype'),
        url('assets/GoetheFFClan-Bold.svg#GoetheFFClan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body{
  /* margin: 20px;
  padding: 0; */
  /* height: 100%; */
  /* display: flex; */
  font-family: 'Goethe FF Clan';
  font-weight: normal;
  font-style: normal;
  font-size: 90%;
  color: #333;
}



.row::after {
  content: "";
  clear: both;
  display: table;
}


.header{
  /* border: 1px solid red; */
  padding: 10px;
  font-family: 'Goethe FF Clan';
    font-weight: bold;
    font-style: normal;
}
.wrapper0{
  width: 30%;
  float: left;
  padding: 10px;
  /* border: 1px solid red; */
}
.wrapper1{
    width: 40%;
    float: left;
    padding: 10px;
    /* border: 1px solid red; */
    max-height: 300px;
    max-width: 40%%;
    overflow-x:auto;
}

.wrapper2{
    width: 30%;
    float: left;
    padding: 10px;
    /* border: 1px solid red; */
    max-height: 300px;
    max-width: 30%;
    overflow-x:auto;
}

.wrapper3{
    /* width: 50%; */
    float: left;
    padding: 10px;
    /* border: 1px solid red; */
    max-height: 150px;
    max-width: 30%;
    overflow-x:auto;
}


.footer1{
  width:10%;
  padding: 15px;
  float: left;
}

.footer2{
  width:80%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
}

.footer3{
  width:10%;
  padding: 15px;
  float: left;
}

table, td, th {
  border: 5px solid #ddd;
  padding: 10px;
  table-layout: auto;
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  empty-cells: hide;
  word-wrap: normal;
 }

th {
  background-color: rgba(255, 255, 255, 0.75);
  position: sticky;
  padding:10px;
  top: -1px;
  z-index: 2;

  &:first-of-type {
    left: 0;
    z-index: 3;
  }
}

td:hover {background-color:#f5f5f5;}

::-webkit-scrollbar {
width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(150, 150, 150, 0.75);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


a:link {
  color: red;
  text-decoration: none;
  font-family: 'Goethe FF Clan';
    font-weight: bold;
    font-style: normal;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
