#title{
  position:sticky;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  font-style: oblique;
}
#upcoming{
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
#meanwhile{
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  padding: 100px;
}
